<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
 	<script src="/app/assets/javascripts/unslider.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   
</head>
<body>
	<%= render 'layouts/header' %>
<div class="main portfolio">
  <div class="jumbotron slideshow">
    <div class="slideshow-container">
      <div class="slide">
<div class="banner">
    <ul>
        <li><img src="https://photos-5.dropbox.com/t/2/AAAqtY-XuwN-DJ17tm9M16BkaQrJclrSacO9y-6k8ExtJQ/12/41399830/png/32x32/1/_/1/2/SW1.png/ELW6zh8YsAIgBygH/bXNF6zQLJfzlnL3eLpzlIRpZu9YS8FXs04ALlXAtEkI?size=1024x768&size_mode=2"></li>
        <li><img src="https://photos-4.dropbox.com/t/2/AACt_Z8gsBfvcP05_YWRikxdQdHrjvE5FQJ6VDO2n1D06A/12/41399830/png/32x32/1/_/1/2/SW2.png/ELW6zh8YsAIgBygH/EH3YsTDaTTxEOjxE8oij9SlPiPKMlR6O-OVNCKkdfoc?size=1024x768&size_mode=2"></li>
 <li><img src="https://photos-4.dropbox.com/t/2/AACv0QpjHETRD5XgXFYnE3PxvEOlE5-K4QqqjhrBlphmWw/12/41399830/png/32x32/1/_/1/2/SW4.png/ELW6zh8YsAIgBygH/lirpkMsdLyK5W_dGUxRmk6OQh00K8FZyCfm1O8aVTfw?size=1024x768&size_mode=2"></li>
    </ul>
</div>
        </div>
        </div>
      </div>
  </div>
<div class="container">
  <div class="row">
  <a class="col-md-6 project" href="http://vast-journey-9229.herokuapp.com">
       <div class="thumbnail-header">
         <div class="thumbnail-header-btn"></div>
         <div class="thumbnail-header-btn"></div>
    </div>
    <div class="thumbnail"> 
      <img alt="Project01" src="https://photos-1.dropbox.com/t/2/AAAgvM3KGpmGIMVGwhk-eJIgJAzuUzmr1D4yztObiucrug/12/41399830/png/32x32/1/_/1/2/myport.png/ELW6zh8YsAIgBygH/V-cyfALiIc-q7GlGQxkNVOv8bMP4NAecr2B7B-ivFk0?size=1280x960&size_mode=2"> 
    </div>
    <h3>Roman Black Portfolio</h3>
    <p>This is my first site created in Rails using Ruby language. In addition, I have been learning HTML/CSS styling, GitHub, deployment with Heroku, and a ton of research.</p>
    </a>
    
    <a class="col-md-6 project" href="http://vast-journey-9229.herokuapp.com">
       <div class="thumbnail-header">
         <div class="thumbnail-header-btn"></div>
         <div class="thumbnail-header-btn"></div>
    </div>
    <div class="thumbnail"> 
      <img alt="Project02" src="https://photos-3.dropbox.com/t/2/AABp5lHSoxDcQQSUWP0ivbD9WN0sBcofYgBT2rtrDPYBsw/12/41399830/png/32x32/1/_/1/2/mysite.png/ELW6zh8YsAIgBygH/X6X33t5RA-MFiRxLOKdYWWZg7lh7yHK0LtKZIfkq3Sc?size=1280x960&size_mode=2"> 
    </div>
    <h3>Form Fit Design Website</h3>
    <p>This is my business site for creative services. This site shows samples of design projects with various clients. Be sure to visit this site as we add new projects throughout the year. A lot of great changes are happening.</p>
    </a>
    
  </div>
  </div>
  
<%= yield %>


<script>
    $(document).ready(function(){
        $('.banner').unslider({
        speed: 500,               //  The speed to animate each slide (in milliseconds)
        delay: 2000,              //  The delay between slide animations (in milliseconds)
        complete: function() {},  //  A function that gets called after every slide animation
        keys: true,               //  Enable keyboard (left, right) arrow shortcuts
        dots: true,               //  Display dot navigation
        fluid: false              //  Support responsive design. May break non-responsive designs
        });
     });
</script>

  <%= render 'layouts/footer' %>
  
</body>
</html>

